/* I'm a pixel artist. */
img {
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

@font-face {
    font-family: Pixellari;
    src: url('Pixellari.ttf');
}
@font-face {
    font-family: Pixellari;
    src: url('Pixellari.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Pixellari;
    src: url('Pixellari.ttf');
    font-weight: italic;
}
@font-face {
    font-family: Pixellari;
    src: url('Pixellari.ttf');
    font-weight: bold;
    font-weight: italic;
}

.centered {
    text-align: center;
}

body {
    font-family: 'Pixellari', sans-serif;
    margin: 0;
    background: url("BG.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

#container {
    max-width: 950px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

#flex {
    display: flex;
}

/* this is the color of the main content area,
    between the sidebars! */
main {
    background-color: #2f2b38;
    border: 15px solid transparent;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-image: url('Border.png') 20% round;
    border-image-outset: .1;
    border-image-width: 1;
    flex: 1;
    padding: -1px;
    order: 2;
    font-size: 100%;
    z-index: 50;
}

#response {
    color:#fff
}

footer {
    background-color: #eeeeee;
    border: 15px solid transparent;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-image: url('Border.png') 20% round;
    border-image-outset: .1;
    border-image-width: 1;
    /* background color for footer */
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    /* this centers the footer text */
}

#call {
    background-color: #bababa;
}

h1,
h2,
h3 {
    color: #111111;
}

h1 {
    font-size: 350px;
}


strong {
    /* this styles bold text */
    color: #f12349;
    font-size: 120%
}

em {
    /* this styles bold text */
    color: #111111;
    font-size: 25
}

panel {
    border: 5px outset black
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

@media only screen and (max-width: 850px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

}