:root {
    --body-bg-image: url('/homestuck/images/bg.png');
}

* {
    cursor: url(/images/cursors/default.png) 2 2, default;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #cdf7e1;
    font-weight: bold;
}

aside > * {
    background-color: #14452e;
}

main {
    background-color: #256e3b;
}

footer {
    background-color: #092d28;
}

strong {
    /* this styles bold text */
    color: #e6cdf7;
}

nav a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}