:root {
    --body-bg-image: url('/homestuck/images/bg.png');

    --dark-background-color: 09, 45, 40;

    --link-color: 205, 247, 225;
    
    --main-color: 37, 110, 59;
    --sidebar-color: 20, 69, 46;
}

* {
    cursor: url(/images/cursors/default.png) 2 2, default;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

strong {
    /* this styles bold text */
    color: #e6cdf7;
}

nav a {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}