@font-face {
	font-family: 'courierstuck';
	src: url("/courierstuck.ttf");
}

* {
	image-rendering: pixelated;
	font-family: 'courierstuck';
}

body {
	margin: 0;
	background-color: #efefef;
}

main {
	display: flex;
	flex-direction: column;
}

section.horiz {
	display: flex;
}

.outline {
	border: 2px dashed gray;
}

textarea {
	resize: none;
}